root = true

[*]
end_of_line = crlf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[{*.cs,*.razor,*.csproj,*.props}]
indent_style = tab
indent_size = tab

[{*.ya?ml,*.json}]
indent_size = 2
